#   _ __   ___  ___  __ _ _ __   __ _
#  | '_ \ / _ \/ __|/ _` | '_ \ / _` |
#  | | | | (_) \__ \ (_| | | | | (_| |
#  |_| |_|\___/|___/\__,_|_| |_|\__,_|

image: node:22.8.0

include:
  - local: 'examples/browser/.gitlab-ci.yml'    

test:
  stage: test
  script:
    - npm ci
    - npm test -- --run

npm-publish:
  stage: build
  allow_failure: true
  only:
    - main
  script:
    - npm ci
    - git config --global user.email "dev@nosana.io"
    - git config --global user.name "Nosana"
    - npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"
    - npm run publish:public
    # - git push # todo: fix, not working
